.cot {
    margin: 2rem 1rem;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
    /* background-color: rgb(218, 255, 184); */
    background-image: linear-gradient(to bottom right, #f20755, rgb(219, 13, 92), rgb(198, 8, 240));
    border-radius: 25px;
}

@media (max-width: 499px) {

    .cot{
        margin: 2rem 1rem;
    }

    .cot h2, p {
        font-size: 1.2rem;
    }
}